@using Dash.Resources
@model Table

@using (Html.BeginBodyContent())
{
    @Html.Breadcrumbs(new List<Breadcrumb> {
        new Breadcrumb(Reports.ViewAll, "Index", "Report")
    });

    <partial name="_Toast" />

    @using (Html.BeginToolbar())
    {
        @Html.AuthorizedButton(Reports.CreateReport, "Create", "Report", null, DashClasses.BtnPrimary, hasAccess: User.IsInRole("report.create"))
    }

    <div class="col-12">
        <div data-toggle="table" data-json="@Model.ToJson"></div>
    </div>
}
