@model Dash.Models.Report
@using Dash.Resources

<body-content>
    <breadcrumb>
        <partial name="_ReportBreadcrumbs" />
        <breadcrumb-item label="@Core.Rename" controller="Report" action="Rename" route-values="@(new { Model.Id })" is-active="true"></breadcrumb-item>
    </breadcrumb>

    <partial name="_Toast" />
    <partial name="_ReportTabs" model="new ReportView(Model.Id, Model.IsOwner, ReportViewTab.Rename)" />

    <tab-panel id="renameReport">
        @using (Html.BeginCustomForm("Rename", "Report", method: HttpVerbs.Put))
        {
            <div class="columns">
                <div class="col-6">
                    @Html.LabelInputFor(model => model.Name)
                </div>
            </div>

            @Html.FormButtons()
        }
    </tab-panel>
</body-content>
