@using Dash.I18n
@model Dash.Models.Report

@using (Html.BeginCustomForm("Share", "Report", null, Reports.ShareReport, "reportShareLoad",
 htmlAttributes: new { @class = "report-share-form", @data_close_event = "reportShareUnload" },
 method: HttpVerbs.Put))
{
    @Html.HiddenFor(model => model.Id)
    @Html.ToCard(Reports.ShareReportExplain)
    <div class="col-12 p-2">
        <div class="share-table-wrapper" data-json="@Model.ShareOptionsJson"></div>
    </div>
}
