@using Dash.I18n
@model Table

@using (Html.BeginBodyContent(Datasets.ViewAll))
{
    @Html.Breadcrumbs(new List<Breadcrumb> {
        new Breadcrumb(Datasets.ViewAll, "Index", "Dataset")
    });

    <partial name="_Toast" />

    @using (Html.BeginToolbar())
    {
        @Html.AuthorizedButton(Datasets.CreateDataset, "Create", "Dataset", null, DashClasses.BtnPrimary, hasAccess: User.IsInRole("dataset.create"))
    }

    <div class="col-12">
        <div data-toggle="table" data-json="@Model.ToJson"></div>
    </div>
}
