@import "spectre/variables";

// Button variant mixin
@mixin slider-variant($color: $color) {
    &::-webkit-slider-runnable-track {
        background: $color;
    }

    &:focus::-webkit-slider-runnable-track {
        background: $color;
    }

    &::-moz-range-track {
        background: $color;
    }

    &::-ms-fill-lower {
        background: $color;
    }

    &::-ms-fill-upper {
        background: $color;
    }

    &:focus::-ms-fill-lower {
        background: $color;
    }

    &:focus::-ms-fill-upper {
        background: $color;
    }
}

.mithril-colorpicker {
    width: 100%;
    position: relative;

    > .btn {
        width: 100%;
    }

    .colorpicker-indicator {
        cursor: pointer;
        position: absolute;
        right: .5rem;
        top: .5rem;
    }

    &.active {
        .colorpicker-indicator {
            top: .7rem;
        }
    }

    .editor {
        position: absolute;
        transition: height 0.2s;
        z-index: 2000;
        background: #fff;
        border: 1px solid rgba(0,0,0,0.2);
        box-shadow: 0 3px 12px rgba(0,0,0,0.15);
        border-radius: 4px;

        .swatches {
            display: flex;
            flex-wrap: wrap;

            .swatch {
                display: inline-block;
                flex: 1 1 3rem;
                height: 3rem;

                &:hover, &.active {
                    position: relative;
                    z-index: 2;
                    outline: 2px solid #fff;
                    box-shadow: 0 0 5px 2px rgba(0,0,0,0.25);
                }
            }
        }

        input[type=range] {
            height: 25px;
            -webkit-appearance: none;
            margin: 10px 0;
            width: 100%;

            &::-webkit-slider-runnable-track {
                width: 100%;
                height: 5px;
                cursor: pointer;
                box-shadow: 0px 0px 0px #000000;
                border-radius: 1px;
                border: 0px solid #000000;
            }

            &::-webkit-slider-thumb {
                box-shadow: 0px 0px 0px #000000;
                border: 1px solid $gray-color-dark;
                height: 18px;
                width: 18px;
                border-radius: 25px;
                background: $gray-color;
                cursor: pointer;
                -webkit-appearance: none;
                margin-top: -7px;
            }

            &::-moz-range-track {
                width: 100%;
                height: 5px;
                cursor: pointer;
                box-shadow: 0px 0px 0px #000000;
                border-radius: 1px;
                border: 0px solid #000000;
            }

            &::-moz-range-thumb {
                box-shadow: 0px 0px 0px #000000;
                border: 1px solid $gray-color-dark;
                height: 18px;
                width: 18px;
                border-radius: 25px;
                background: $gray-color;
                cursor: pointer;
            }

            &::-ms-track {
                width: 100%;
                height: 5px;
                cursor: pointer;
                background: transparent;
                border-color: transparent;
                color: transparent;
            }

            &::-ms-fill-lower {
                border: 0px solid #000000;
                border-radius: 2px;
                box-shadow: 0px 0px 0px #000000;
            }

            &::-ms-fill-upper {
                border: 0px solid #000000;
                border-radius: 2px;
                box-shadow: 0px 0px 0px #000000;
            }

            &::-ms-thumb {
                margin-top: 1px;
                box-shadow: 0px 0px 0px #000000;
                border: 1px solid $gray-color-dark;
                height: 18px;
                width: 18px;
                border-radius: 25px;
                background: $gray-color;
                cursor: pointer;
            }
        }

        .range-red {
            @include slider-variant(#ff0000);
        }

        .range-blue {
            @include slider-variant(#0000ff);
        }

        .range-green {
            @include slider-variant(#00ff00);
        }
    }
}
