@import "spectre/variables";

html, body {
    height: 100%;
    width: 100%;
    background: #000;
}

.sidebar-wrapper {
    height: calc(100% - 2px);
    background: #000;
    width: 3.5rem;
    overflow: hidden;
    float: left;
}

.content-wrapper {
    padding-left: 3.5rem;
    width: auto;

    .container {
        background: #fff;
    }
}

body.toggled {
    .sidebar-wrapper {
        width: 14rem;
        z-index: 1000;

        li {
            a {
                span {
                    display: inline;
                }
            }
        }
    }

    .content-wrapper {
        padding-left: 14rem;
    }
}

#dashboard {
    position: relative;
    height: 100%;

    .widget-data {
        .container-fluid {
            padding-left: 0;
            padding-right: 0;

            .row {
                margin-left: 0;
                margin-right: 0;
            }
        }
    }

    .widget-chart {
        width: 100%;
        height: 100%;
    }

    .chart-spinner {
        position: absolute;
        z-index: 999;
        width: 100%;
        height: 100%;
        background: #ffffff;
    }

    .table-area {
        min-height: 5rem;

        .table {
            td, th {
                padding-top: 0;
                padding-bottom: 0;
            }
        }
    }

    .table-spinner {
        width: 100px;
        position: absolute;
        top: 3rem;
        left: 50%;
        margin: 0 -50px 0 -50px;
    }

    .chart-error {
        position: absolute;
        z-index: 999;
        width: 100%;
        height: 100%;
        background: #ffffff;

        p {
            color: #FF0039;
            padding-left: 20px;
            padding-top: 20px;
        }
    }
    /* clear fix */
    &:after {
        content: '';
        display: block;
        clear: both;
    }

    .is-dragging, .is-positioning-post-drag {
        z-index: 2;
    }

    .grid-item {
        float: left;
        background: #efefef;
        border: 1px solid hsla(0, 0%, 0%, 0.5);
        position: absolute;

        .grid-header {
            width: 100%;
            padding: .2rem .4rem 0 .4rem;
            border-bottom: 1px solid hsla(0, 0%, 0%, 0.5);
            height: 1.8rem;
            font-weight: 700;
            margin-left: 0;
            margin-right: 0;
            font-size: .8rem;

            .grid-title {
                padding: 0 0 .1rem 0;
            }

            .grid-buttons {
                padding-right: 0;

                a.btn {
                    font-size: .8rem;
                }
            }

            .btn {
                padding: .1rem;
            }
        }

        .grid-body {
            position: absolute;
            bottom: 1.8rem;
            top: 1.8rem;
            width: 100%;
            overflow: auto;
            background-color: white;

            button {
                font-size: .7rem;
                padding-top: 0;
                padding-bottom: 0;
            }
        }

        .grid-footer {
            border-top: 1px solid hsla(0, 0%, 0%, 0.5);
            height: 1.8rem;
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: .3rem 0 0 0;

            .grid-updated-time {
                padding-left: .2rem;
            }

            .resizable-handle, .drag-handle {
                cursor: pointer;
                margin-right: .7rem;

                i.dash-corner {
                    padding-top: .2rem;
                    font-size: 1.3rem;
                }
            }

            .dash {
                font-size: 1rem;
            }
        }

        &.full-screen {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 9999;

            .grid-footer {
                .resizable-handle, .drag-handle {
                    display: none;
                }
            }
        }
    }

    @for $i from 1 through 20 {
        .grid-item-width-#{$i} {
            width: round(percentage($i / 20));
        }

        .grid-item-height-#{$i} {
            height: round(percentage($i / 20));
        }

        .grid-item-x-#{$i} {
            left: round(percentage($i / 20));
        }
    }

    @for $i from 1 through 40 {
        .grid-item-y-#{$i} {
            top: round(percentage($i / 20));
        }
    }
}
