@import "spectre/variables";

.dashboard {
    position: relative;
    height: 100%;

    .widget-data {
        .container-fluid {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .widget-chart {
        width: 100%;
        height: 100%;
    }

    .table-area {
        min-height: 5rem;
    }

    .chart-error {
        position: absolute;
        width: 100%;
        height: 100%;
        background: #ffffff;

        p {
            color: #FF0039;
            padding-left: 20px;
            padding-top: 20px;
        }
    }

    .is-dragging, .is-positioning-post-drag {
        z-index: 2;
    }

    .grid-item {
        float: left;
        background: #efefef;
        border: 1px solid hsla(0, 0%, 0%, 0.5);
        position: absolute;
        margin-top: -1px;
        margin-bottom: -1px;

        &.grid-item-x-0 {
            border-left: none;
        }

        .grid-header {
            width: 100%;
            padding: .2rem .4rem 0 .4rem;
            border-bottom: 1px solid hsla(0, 0%, 0%, 0.5);
            height: 1.8rem;
            margin-left: 0;
            margin-right: 0;
            font-size: .8rem;

            .grid-title {
                padding: 0 0 .1rem 0;
                font-weight: 700;
            }

            .grid-buttons {
                padding-right: 0;

                a.btn {
                    font-size: .7rem;
                    color: $primary-color;
                }
            }

            .dropdown-toggle {
                border-bottom: 1px solid hsla(0, 0%, 0%, 0.5);
            }

            .menu-item {
                padding-top: 0;
                padding-bottom: 0;
            }
        }

        .grid-body {
            position: absolute;
            bottom: 1.8rem;
            top: 1.8rem;
            width: 100%;
            overflow: auto;
            background-color: white;

            button {
                padding-top: 0;
                padding-bottom: 0;
            }
        }

        .grid-footer {
            border-top: 1px solid hsla(0, 0%, 0%, 0.5);
            height: 1.8rem;
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: .3rem 0 0 0;

            .grid-updated-time {
                padding-left: .2rem;
            }

            .resizable-handle, .drag-handle {
                cursor: pointer;
                margin-right: .7rem;

                i.dash-corner {
                    padding-top: .2rem;
                    font-size: 1.3rem;
                }
            }

            .dash {
                font-size: 1rem;
            }
        }

        &.full-screen {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 9999;

            .grid-footer {
                .resizable-handle, .drag-handle {
                    display: none;
                }
            }
        }
    }

    @for $i from 1 through 20 {
        .grid-item-width-#{$i} {
            width: round(percentage($i / 20));
        }

        .grid-item-height-#{$i} {
            height: round(percentage($i / 20));
        }

        .grid-item-x-#{$i} {
            left: round(percentage($i / 20));
        }
    }

    @for $i from 1 through 40 {
        .grid-item-y-#{$i} {
            top: round(percentage($i / 20));
        }
    }
}
