@import "spectre/variables";

.mithril-date-picker-container {
    width: 100%;
    position: relative;

    * {
        box-sizing: border-box;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .current-date {
        cursor: pointer;
    }

    .current-date-indicator {
        cursor: pointer;
        position: absolute;
        right: .5rem;
        top: .5rem;
    }

    &.active {
        .current-date-indicator {
            top: .7rem;
        }
    }

    .editor {
        position: absolute;
        height: auto;
        transition: height 0.2s;
        z-index: 2000;
        overflow: hidden;
    }

    .header {
        position: relative;
        display: flex;
        justify-content: space-between;
        background: $gray-color-light;
        color: $primary-color;

        .header-button {
            position: relative;
            padding: 0;
            margin: 0;
            height: 45px;
            background: none;
            border: 0;
            cursor: pointer;
        }

        button.prev, button.next {
            white-space: nowrap;
            color: $info-color;
        }

        button.prev {
            text-align: left;
            margin-right: auto;
        }

        button.next {
            text-align: right;
            margin-left: auto;
        }

        .segment {
            flex: auto;
        }
    }

    .sled {
        position: relative;
        display: flex;
        width: 300%;
        transition: margin-left 0.2s;

        &.p0 {
            margin-left: 0
        }

        &.p1 {
            margin-left: -100%
        }

        &.p2 {
            margin-left: -200%
        }
    }

    .calendar {
        position: relative;
        overflow: hidden;
        width: 100%;
        z-index: 0;
    }

    .weekdays, .months, .time {
        display: flex;
        flex-wrap: wrap;

        .form-control {
            width: 50%;
        }
    }

    .day, .month, .year {
        position: relative;
        background: $bg-color-light;
        border: 0;
        color: $primary-color;
        cursor: pointer;
        z-index: 0;

        &:focus {
            z-index: 1;
        }

        &:hover {
            background: $gray-color-light;
        }

        &.dummy {
            background: $gray-color-light;
            color: $primary-color;
            border: 0;
            cursor: default;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid $gray-color;
        }

        .number {
            position: relative;
            z-index: 1;
        }

        &.chosen {
            border: 2px solid $info-color;
            font-weight: 700;
        }
    }

    .day {
        flex-basis: 14%;
        -webkit-box-flex: 1;
        flex-grow: 1;
        max-width: 100%;
        min-height: 45px;
    }

    .month {
        width: 25%;
        height: 25%;
        min-height: 45px;
    }

    .year {
        width: 20%;
        height: 20%;
        min-height: 45px;
    }

    .other-scope {
        color: $gray-color;
    }
}
