.table-wrapper {
    .wrapper-row {
        padding-top: .25rem;
        padding-bottom: .25rem;

        &::after {
            content: "";
            display: table;
            clear: both;
        }

        .row:not(:first-child) {
            padding-top: .4rem;
        }

        &.odd {
            background-color: #fafafa;
        }

        &.even {
            background-color: #f1f1f1;
        }

        .input-group-btn {
            .rn {
                padding-top: 0;
            }
        }
    }

    a.btn.disabled {
        pointer-events: auto;
    }
}
