@import "spectre/variables";

#menuBtn {
    cursor: pointer;
    color: $info-color;

    a {
        padding-left: .7rem;
    }
}

.nav-side {
    width: 16rem;
    padding-left: 0;
    margin-right: .5rem;
    margin-left: .1rem;

    li {
        line-height: 2rem;
        padding-left: .3rem;

        a {
            display: block;
            text-decoration: none;
            color: #999999;
            padding-left: .5rem;

            span {
                display: none;
                padding-left: .5rem;
            }

            &:hover {
                color: #fff;
                background: rgba(255,255,255,0.2);
                border-left: $info-color 2px solid;
            }

            &:active, &:focus {
                text-decoration: none;
            }
        }

        &.divider {
            height: 0;
            margin: .5rem 0;
            overflow: hidden;
            border-top: 1px solid $gray-color-light;
        }
    }
}
