.report-data-container {
    .row {
        margin-left: 0;
        margin-right: 0;
    }
}

.column-list {
    background: #dddddd;
    position: relative;
}

.column-item {
    background: #efefef;
    margin: .5rem;
    padding: .5rem;
    cursor: move;
    z-index: 999;
    width: 45%;
    position: absolute;
    height: 2rem;

    &.column-item-right {
        left: 50%;
    }

    @for $i from 1 through 100 {
        &.column-item-y-#{$i} {
            top : $i*2.5rem;
        }
    }
}

#filterTableWrapper {
    .input-group-btn .btn {
        padding-bottom: .30rem;
    }
 }
