.column-list {
    background: #dddddd;
    position: relative;
}

.column-item {
    background: #efefef;
    padding: .5rem;
    cursor: move;
    height: 2rem;
}

#filterTableWrapper {
    .input-group-btn .btn {
        padding-bottom: .30rem;
    }
}
