@mixin box-sizing($box-model) {
    -webkit-box-sizing: $box-model; // Safari <= 5
    -moz-box-sizing: $box-model; // Firefox <= 19
    box-sizing: $box-model;
}

.data-table {
    .table-scrollable {
        display: block;
        position: relative;
        @include box-sizing(border-box);
        overflow: hidden;
        word-wrap: break-word;

        .table {
            td {
                vertical-align: middle;

                .btn-link {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }

        .table-area {
            height: 100%;
            overflow: auto;

            table {
                margin-bottom: 0;

                thead {
                    display: table;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: #eeeeee;

                    th {
                        user-select: none; /* CSS3 (little to no support) */
                        -ms-user-select: none; /* IE 10+ */
                        -moz-user-select: none; /* Gecko (Firefox) */
                        -webkit-user-select: none; /* Webkit (Safari, Chrome) */
                        border-bottom: none;
                    }
                }

                &.table-data-table {
                    a.btn, button {
                        margin-right: .5em;
                    }
                }
            }
        }

        th:last-child, col:last-child {
            width: auto;
        }

        table tr {
            th {
                padding: 0 .3rem;
                border-top: none;
                border-right: 1px gray dotted;

                div {
                    padding: .3rem;
                }
            }

            &.table-loading-error {
                background-color: inherit;

                div {
                    margin: 5px;

                    &.table-loading-error-message {
                        color: #FF0039;
                    }
                }
            }
        }

        th:not(.disabled) div {
            cursor: pointer;
        }

        &.table-no-edit table tr th {
            cursor: default;

            div {
                cursor: default;
            }
        }

        td div {
            overflow: hidden;
        }
    }
}
