.dash-table {
    .table-scrollable, .dotable-scrollable {
        display: block;
        position: relative;
        box-sizing: border-box;
        overflow: hidden;
        word-wrap: break-word;

        .table-area, .dotable-area {
            height: 100%;
            overflow: auto;

            table {
                thead {
                    display: table;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: #eeeeee;
                }

                &.table-data, &.dotable-data {
                    tr {
                        th {
                            padding: .3rem .3rem;
                            border-top: none;
                            border-right: 1px gray dotted;

                            .data-table-arrow, .dotable-arrow {
                                font-size: 1rem;
                                cursor: pointer;
                            }
                        }

                        th:last-child, col:last-child {
                            width: auto;
                        }

                        &.table-loading-error {
                            background-color: inherit;

                            div {
                                margin: 5px;

                                &.table-loading-error-message {
                                    color: #FF0039;
                                }
                            }
                        }

                        td {
                            vertical-align: middle;

                            a.btn, button {
                                margin-right: .5em;
                            }

                            .btn-link {
                                height: 1.3rem;
                                padding-left: 0;
                                padding-right: 0;
                                max-width: 100%;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                text-align: left;
                            }
                        }
                    }
                }
            }
        }

        &.table-no-edit table tr th i {
            cursor: default !important;
        }
    }
}
