@font-face {
  font-family: 'dash';
  src: url('../font/dash.eot?64819916');
  src: url('../font/dash.eot?64819916#iefix') format('embedded-opentype'),
       url('../font/dash.woff2?64819916') format('woff2'),
       url('../font/dash.woff?64819916') format('woff'),
       url('../font/dash.ttf?64819916') format('truetype'),
       url('../font/dash.svg?64819916#dash') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'dash';
    src: url('../font/dash.svg?64819916#dash') format('svg');
  }
}
*/
 
 [class^="dash-"]:before, [class*=" dash-"]:before {
  font-family: "dash";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.dash-help:before { content: '\e801'; } /* '' */
.dash-unlock:before { content: '\e802'; } /* '' */
.dash-fire:before { content: '\e803'; } /* '' */
.dash-up:before { content: '\e804'; } /* '' */
.dash-down:before { content: '\e805'; } /* '' */
.dash-cancel:before { content: '\e806'; } /* '' */
.dash-plus:before { content: '\e807'; } /* '' */
.dash-minus:before { content: '\e808'; } /* '' */
.dash-search:before { content: '\e809'; } /* '' */
.dash-sort-up:before { content: '\e80a'; } /* '' */
.dash-sort-down:before { content: '\e80b'; } /* '' */
.dash-to-start-alt:before { content: '\e80c'; } /* '' */
.dash-to-end-alt:before { content: '\e80d'; } /* '' */
.dash-login:before { content: '\e80e'; } /* '' */
.dash-arrows-cw:before { content: '\e80f'; } /* '' */
.dash-info:before { content: '\e810'; } /* '' */
.dash-pencil:before { content: '\e811'; } /* '' */
.dash-move:before { content: '\e812'; } /* '' */
.dash-lamp:before { content: '\e813'; } /* '' */
.dash-emo-unhappy:before { content: '\e814'; } /* '' */
.dash-calendar:before { content: '\e815'; } /* '' */
.dash-database:before { content: '\e816'; } /* '' */
.dash-list-alt:before { content: '\e817'; } /* '' */
.dash-user:before { content: '\e818'; } /* '' */
.dash-users:before { content: '\e819'; } /* '' */
.dash-home:before { content: '\e81a'; } /* '' */
.dash-sort:before { content: '\e81b'; } /* '' */
.dash-edit:before { content: '\e81c'; } /* '' */
.dash-clone:before { content: '\e81d'; } /* '' */
.dash-heartbeat:before { content: '\e81e'; } /* '' */
.dash-to-start:before { content: '\e81f'; } /* '' */
.dash-to-end:before { content: '\e820'; } /* '' */
.dash-key:before { content: '\e822'; } /* '' */
.dash-th:before { content: '\e823'; } /* '' */
.dash-min:before { content: '\e824'; } /* '' */
.dash-max:before { content: '\e825'; } /* '' */
.dash-corner:before { content: '\e82a'; } /* '' */
.dash-logout:before { content: '\e82b'; } /* '' */
.dash-chart-bar:before { content: '\e82c'; } /* '' */
.dash-trash:before { content: '\e83d'; } /* '' */
.dash-menu:before { content: '\f0c9'; } /* '' */
.dash-list-bullet:before { content: '\f0ca'; } /* '' */
.dash-list-numbered:before { content: '\f0cb'; } /* '' */
.dash-bell-alt:before { content: '\f0f3'; } /* '' */