@using Dash.I18n
@model Table

@using (Html.BeginBodyContent(Users.ViewAll))
{
    @Html.Breadcrumbs(new List<Breadcrumb> {
        new Breadcrumb(Users.ViewAll, "Index", "User")
    });

    <partial name="_Toast" />

    @using (Html.BeginToolbar())
    {
        @Html.AuthorizedButton(Users.CreateUser, "Create", "User", null, DashClasses.BtnPrimary, hasAccess: User.IsInRole("user.create"))
    }

    <div class="col-12">
        <div data-toggle="table" data-json="@Model.ToJson"></div>
    </div>
}
