@using Dash.I18n
@model Table

@using (Html.BeginBodyContent(Users.ViewAll))
{
    @Html.Breadcrumbs(new List<Breadcrumb> {
        new Breadcrumb(Users.ViewAll, "Index", "User")
    });

    <partial name="_Toast" />

    <div class="col-12">
        <div class="dash-table" data-load-event="tableLoad" data-unload-event="tableUnload" data-json="@Model.ToJson"></div>
    </div>
}
