@model Dash.Models.WidgetList

<div id="dashboard" data-title="@Dash.I18n.Core.Dashboard" data-event="dashboardLoad"
     data-url="@Url.Action("IndexOptions")" data-save-url="@Url.Action("SaveDashboard")" data-json="@Model.ToJson">
</div>
