@using Dash.I18n
@model Table

@using (Html.BeginBodyContent())
{
    @Html.Breadcrumbs(new List<Breadcrumb> {
        new Breadcrumb(Alerts.ViewAll, "Index", "Alert")
    });

    <partial name="_Toast" />

    @using (Html.BeginToolbar())
    {
        @Html.AuthorizedButton(Alerts.CreateAlert, "Create", "Alert", null, DashClasses.BtnPrimary, hasAccess: User.IsInRole("alert.create"))
    }

    <div class="col-12">
        <div data-toggle="table" data-json="@Model.ToJson"></div>
    </div>
}
