@using Dash.Resources

<div class="chart-spinner d-none">
    <div class="loading loading-lg"></div>
</div>
<div class="chart-error d-none">
    <div>@Core.ErrorChartLoad</div>
</div>
<div class="canvas-container">
    <canvas class="chart-canvas" />
</div>
