<!-- todo Work out a way to align multiple errors correctly around the dismiss button -->
@if (!((string)ViewBag.Error).IsEmpty())
{
    <div class="toast toast-error" id="errorToast">
        <i class="dash dash-cancel toast-dismiss" data-toggle="hide" data-target="#errorToast"></i>
        @Html.Raw(ViewBag.Error)
    </div>
}
@if (!((string)ViewBag.Message).IsEmpty())
{
    <div class="toast toast-success" id="successToast">
        <i class="dash dash-cancel toast-dismiss" data-toggle="hide" data-target="#successToast"></i>
        @ViewBag.Message
    </div>
}
