@using Dash.Resources;
@{
    Layout = null;
    ViewBag.Title = Dash.Resources.Core.Error;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Error - Dash</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/bundle.css" />
</head>
<body class="error-page">
    <div class="container">
        <div class="p-2 m-2">
            <h1><i class="dash dash-emo-unhappy text-error"></i> Error</h1>
            <p class="lead">
                @if (!((string)ViewBag.Error).IsEmpty())
                {
                    <toast id="errorPage" message="@ViewBag.Error" type="Error" allow-close="false" />
                }
                else
                {
                    <toast id="errorPage" message="@Core.ErrorGeneric" type="Error" allow-close="false" />
                }
            </p>
        </div>
    </div>
</body>
</html>
