@using Dash.Models
@model ChartRange

<div id="rangeColumnPartial">
    @if (Model.ReportId > 0)
    {
        <form-group-select for="XAxisColumnId" options="@Model.ColumnSelectListItems" toggle="content-replace" url="@Url.Action("DateInterval")" params="#Id,#XAxisColumnId" />
        <form-group-select for="YAxisColumnId" options="@Model.ColumnSelectListItems" />
        <partial name="_DateInterval" />
        <form-group-input for="Color" toggle="colorpicker" />
    }
</div>
