@using Dash.Models
@model ChartRange

<div id="rangeDateIntervalPartial" class="pb-2">
    <form-group-select for="DateIntervalId" options="@Model.DateIntervalSelectListItems" disabled="@(Model.XAxisColumn?.FilterTypeId != (int)FilterTypes.Date)" />
</div>
