@using Dash.I18n;
@model Dash.Models.ForgotPassword

@using (Html.BeginBootForm("ForgotPassword", "Account", null, Account.ForgotPassword)) {
    @Html.ToCard(Account.ForgotPasswordText)

    <div class="col-12 pt-2">
        <div class="col-6">
            @Html.LabelInputFor(model => model.UserName)
        </div>
    </div>
}
