@using Dash.I18n;
@model Dash.Models.ForgotPassword

@using (Html.BeginBodyContent())
{
    @Html.Breadcrumbs(new List<Breadcrumb> {
        new Breadcrumb(Account.ForgotPassword, "ForgotPassword", "Account")
    });

    @using (Html.BeginCustomForm("ForgotPassword", "Account"))
    {
        <partial name="_Toast" />

        @Html.ToCard(Account.ForgotPasswordText)

        <div class="col-12 pt-2">
            <div class="col-6">
                @Html.LabelInputFor(model => model.UserName)
            </div>
        </div>

        <div class="col-12 pt-2">
            <div class="col-6">
                <div class="columns">
                    <span class="form-buttons col-8 col-ml-auto">
                        <input type="submit" value="@Core.Okay" class="btn btn-primary" />
                    </span>
                </div>
            </div>
        </div>
    }
}
