@using Dash.Resources
@model Dash.Models.LogOn

<body-content>
    <breadcrumb>
        <breadcrumb-item label="@Account.Login" controller="Account" action="Login" is-active="true" />
    </breadcrumb>

    <partial name="_Toast" />

    @using (Html.BeginCustomForm("Login", "Account", htmlAttributes: new { @class = "pjax-no-follow" }))
    {
        <input asp-for="ReturnUrl" type="hidden" />

        <div class="columns">
            <div class="col-6">
                @Html.LabelInputFor(m => m.UserName, new { Autofocus = true })
                @Html.LabelPasswordFor(m => m.Password, new { })
            </div>
        </div>

        @Html.FormButtons(Account.Login, Html.ActionLink(Account.ForgotPassword, "ForgotPassword", "Account", null, new { @class = "btn btn-warning" }))
    }
</body-content>
