@using Dash.Resources;
@model Dash.Utils.SetupCode

<body-content>
    <breadcrumb>
        <breadcrumb-item label="@Account.TwoFactor" controller="Account" action="TwoFactorLogin" is-active="true" />
    </breadcrumb>

    <partial name="_Toast" />
    <toast id="twoFactorLoginHelp" message="@Account.FactorText" type="Info" allow-close="false" />

    <div>
        <img class="qr-code" src="@Model.QrCode" />
    </div>

    <authorized-button controller="Account" action="Login" title="@Account.Done" class="BtnInfo" force-reload="true" has-access="true" />
</body-content>
