@using Dash.Models
@model ReportFilter

<div id="filterCriteriaPartial">
    @if (Model.OperatorId > 0)
    {
        @if (Model.Column.FilterTypeId == (int)FilterTypes.Select)
        {
            @Html.LabelDropDownListFor(x => x.Criteria, new SelectList(new List<string>()))
        }
        else if (Model.Column.FilterTypeId == (int)FilterTypes.Boolean)
        {
            @Html.LabelDropDownListFor(x => x.Criteria, Model.BooleanSelectListItems)
        }
        else
        {
            @Html.LabelInputFor(x => x.Criteria)
        }
    }
</div>
