@using Dash.Models
@model ReportFilter

<div id="filterCriteriaPartial">
    @if (Model.OperatorId > 0)
    {
        @if (Model.Column?.FilterTypeId == (int)FilterTypes.Boolean)
        {
            <form-group-select for="Criteria" options="ReportFilter.BooleanSelectListItems" />
        }
        else if (Model.Column?.FilterTypeId == (int)FilterTypes.Date)
        {
            if (Model.OperatorId == (int)FilterOperatorsAbstract.DateInterval)
            {
                <form-group-select for="Criteria" options="ReportFilter.DateIntervalSelectListItems" />
            }
            else
            {
                <form-group-input for="Criteria" toggle="datepicker" />
            }
        }
        else if (Model.Column?.FilterTypeId == (int)FilterTypes.Select)
        {
            <form-group-select for="Criteria" options="Model.FilterSelectListItems" multiple="Model.IsMultipleSelect" />
        }
        else
        {
            <form-group-input for="Criteria" />
        }
    }
    @if (Model.OperatorId == (int)FilterOperatorsAbstract.Range)
    {
        @if (Model.Column?.FilterTypeId == (int)FilterTypes.Date)
        {
            <form-group-input for="Criteria2" toggle="datepicker" is-required="true" />
        }
        else
        {
            <form-group-input for="Criteria2" is-required="true" />
        }
    }
</div>
