@using Dash.I18n
@model Table

<div data-title="@Databases.ViewAll" data-basic-dialog="true" data-close-event="dashboardReload">
    @using (Html.BeginToolbar()) {
        @Html.AuthorizedButton(Databases.CreateDatabase, "Database", "Create", DashClasses.BtnPrimary, DashClasses.DashDialog,
            hasAccess: this.User.IsInRole("database.create"))
    }
    <div class="col-12 dash-table" data-json="@Model.ToJson"></div>
</div>
