@using Dash.I18n
@model Table

<div data-title="@Databases.ViewAll" data-basic-dialog="true" data-close-event="dashboardReload">
    @using (Html.BeginToolbar()) {
        @Html.AuthorizedButton(Databases.CreateDatabase, "Database", "Create", RngnClasses.BtnPrimary, RngnClasses.RngnDialog)
    }
    <div class="col-12 rngn-table" data-json="@Model.ToJson"></div>
</div>