@using Dash.Resources
@model Table

@using (Html.BeginBodyContent())
{
    @Html.Breadcrumbs(new List<Breadcrumb> {
        new Breadcrumb(Databases.ViewAll, "Index", "Database")
    });

    <partial name="_Toast" />

    @using (Html.BeginToolbar())
    {
        @Html.AuthorizedButton(Databases.CreateDatabase, "Create", "Database", null, DashClasses.BtnPrimary, hasAccess: User.IsInRole("database.create"))
    }

    <div class="col-12">
        <div data-toggle="table" data-json="@Model.ToJson"></div>
    </div>
}
