@using Dash.I18n
@model Dash.Models.Permission

@using (Html.BeginBootForm(Model.FormAction, "Permission", null, Model.IsCreate ? Permissions.CreatePermission : Permissions.EditPermission, method: Model.FormMethod)) {
    @Html.HiddenFor(model => model.Id)

    <div class="col-6">
        @Html.LabelInputFor(model => model.ControllerName)
        @Html.LabelInputFor(model => model.ActionName)
    </div>
}