@using Dash.I18n
@model Dash.Models.CreateController

@using (Html.BeginBootForm("CreateController", "Permission", null, Permissions.CreateController)) {
    <div class="col-6">
        @Html.LabelInputFor(model => model.ControllerName)
        <div class="form-group row">
            @Html.ControlLabel("ControllerActions", Permissions.ControllerActions)
            <div class="col-8">
                @foreach (string action in Model.ActionList) {
                    @Html.CustomCheckbox("ControllerActions", false, action, action, isMultiple: true)
                }
            </div>
        </div>
    </div>
}