@using Roles = Dash.I18n.Roles
@model Table

<div data-title="@Roles.ViewAll" data-basic-dialog="true">
    @using (Html.BeginToolbar()) {
        @Html.AuthorizedButton(Roles.CreateRole, "Role", "Create", RngnClasses.BtnPrimary, RngnClasses.RngnDialog)
    }
    <div class="col-12 rngn-table" data-json="@Model.ToJson"></div>
</div>