@using Dash.Resources
@model Table

@using (Html.BeginBodyContent())
{
    @Html.Breadcrumbs(new List<Breadcrumb> {
        new Breadcrumb(Roles.ViewAll, "Index", "Role")
    });

    <partial name="_Toast" />

    @using (Html.BeginToolbar())
    {
        @Html.AuthorizedButton(Roles.CreateRole, "Create", "Role", null, DashClasses.BtnPrimary, hasAccess: User.IsInRole("role.create"))
    }

    <div class="col-12">
        <div data-toggle="table" data-json="@Model.ToJson"></div>
    </div>
}
