// Breadcrumbs
.breadcrumb {
    font-size: 1rem;
    list-style: none;
    margin: 0;
    user-select: none;

    .breadcrumb-item {
        color: $gray-color-dark;
        display: inline-block;
        margin: 0;
        padding: $unit-1 0;

        a {
            text-decoration: none;
        }

        &:not(:last-child) {
            margin-right: $unit-1;

            a {
                color: $gray-color-dark;
            }
        }

        &:not(:first-child) {
            &::before {
                color: $gray-color-light;
                content: "/";
                padding-right: $unit-2;
            }
        }
    }
}
