@model Dash.Models.Chart
@using Dash.Resources

@using (Html.BeginBodyContent())
{
    @Html.Breadcrumbs(new List<Breadcrumb> {
        new Breadcrumb(Charts.ViewAll, "Index", "Chart"),
        new Breadcrumb(Charts.ChangeType, "ChangeType", "Chart")
    });

    @using (Html.BeginCustomForm("ChangeType", "Chart"))
    {
        @Html.HiddenFor(model => model.Id)

        <partial name="_Toast" />

        <div class="columns">
            <div class="col-6">
                @Html.LabelInputFor(model => model.Name, new { disabled = true })
                @Html.LabelDropDownListFor(model => model.ChartTypeId, Dash.Models.Chart.ChartTypeSelectList)
            </div>
        </div>
    }
}
