@using Dash.I18n
@model Table

<div data-title="@Charts.ViewAll" data-basic-dialog="true" data-close-event="dashboardReload">
    @using (Html.BeginToolbar()) {
        @Html.AuthorizedButton(Charts.CreateChart, "Chart", "Create", DashClasses.BtnPrimary, DashClasses.DashDialog, hasAccess: this.User.IsInRole("chart.create"))
    }
    <div class="col-12 dash-table" data-json="@Model.ToJson"></div>
</div>
