@using Dash.I18n
@model Table

@using (Html.BeginBodyContent(Charts.ViewAll))
{
    @Html.Breadcrumbs(new List<Breadcrumb> {
        new Breadcrumb(Charts.ViewAll, "Index", "Chart")
    });

    <partial name="_Toast" />

    @using (Html.BeginToolbar())
    {
        @Html.AuthorizedButton(Charts.CreateChart, "Create", "Chart", null, DashClasses.BtnPrimary, hasAccess: User.IsInRole("chart.create"))
    }

    <div class="col-12">
        <div data-toggle="table" data-json="@Model.ToJson"></div>
    </div>
}
