@using Dash.I18n
@model Table
﻿
<div data-title="@Charts.ViewAll" data-basic-dialog="true">
    <div class="col-12">
        <div class="dash-table" data-json="@Model.ToJson"></div>
    </div>
</div>
